@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
    font-size: calc(10px + 0.410vw);
  text-decoration: none;
  list-style-type: none;
  line-height: 24px;

  @media screen and (min-width: 48em) {
    // font-size: calc(7px + 0.390625vw);
  }
}

a {
  text-decoration: none !important;
}

.cc-container {
  max-width: 1240px !important;
  width: 100% !important;
  margin: 0 auto;
}

.cc-img-fluid {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
